<style>
	html,body{
		height:100%;
	}
	#body{
		min-height:100%;
	}
     /* Remove the navbar's default margin-bottom and rounded borders */ 
     .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #DCFF63;
    }
    
    .cg-panel{
    	margin-top: 16px;
    	margin-bottom: 16px;
    	padding-top: 10px;
    	padding-left: 16px;
    	padding-bottom: 1px;
    }
    
    p{
    	font-size: 16px;
    }
    
    .cg-info{
    	background-color: #ddffdd;
    	border-left-width: 6px;
    	border-left-style: solid;
    	border-left-color: #4CAF50; 
    }
    
    .intro{
    	font-size: 16px;
    }
    
    a.active{
    	color: white;
    }
     .navbar-custom {
      background-color: #dcff63;
      border-color: #dcff63;
    }
    .navbar-inverse .navbar-brand{
      color: black;
    }
    
    .navbar-inverse .navbar-nav>li>a{
      color: black;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
      
    }
    
    /* Set black background color, white text and some padding */
    #footer {
      position:fixed;
      left:0px;
      bottom:0px;
      width:100%;
      height:70px;
	  background-color: #555;
      color: white;
      margin-top:-1.9em;
      padding-top:15px;
    }
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    * {box-sizing: border-box}
    body {font-family: "Lato", sans-serif;}

    /* Style the tab */
    .tab {
        float: left;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        height: 10%;
    }

    /* Style the buttons inside the tab */
    .tab button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 0px 22px 0px;
        
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current "tab button" class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        float: left;
        /* padding: 0px 12px; */
        /* border: 1px solid #ccc; */
        width: 130px;
        border-left: none;
        height: 300px;
    }
    pre{
    	text-align:left;
    	white-space: pre-line;
    }
    .toc-indent{
    	padding-left: 20px;
    	margin-top: 12px;
    }
    .toc-item{
    	display: block;
    }
    
    .modal{
    	position:absolute;
    	top:10px;
    	right:25%;
    	bottom:10px;
    	left:25%;
    }
</style>